<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- ******************************************************************** -->
    <!-- 配置各个模块的上下文信息 -->
    <!-- ******************************************************************** -->
    <import resource="applicationContext-datasource.xml"/>
    <import resource="applicationContext-transaction.xml"/>


    <!-- 扫描注解Bean,Controller 除外 -->
    <context:component-scan base-package="com.zyou.ops">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 配置双数据源-->
    <bean id="dataSource" class="com.zyou.ops.util.datasource.DynamicDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="opsDataSource" value-ref="opsDataSource"/>
                <entry key="zybdDataSource" value-ref="zybdDataSource"/>
            </map>
        </property>
        <!--&lt;!&ndash;默认数据源 opsDataSource &ndash;&gt;-->
        <property name="defaultTargetDataSource" ref="opsDataSource"/>
    </bean>

    <!-- MyBatis配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描domain目录, 省掉Configuration.xml里的手工配置 -->
        <property name="typeAliasesPackage" value="com.zyou.ops.entity,com.zyou.ops.zybd.entity"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath*:mappers/**/**.xml"/>
        <!--<property name="configLocation" value="classpath:mybatis/mybatisconf.xml"/>-->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            dialect=mysql
                            reasonable=true
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描包路径，如果需要扫描多个包，中间使用半角逗号隔开 -->
        <property name="basePackage" value="com.zyou.ops.mapper,com.zyou.ops.zybd.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>


</beans>